---
layout: compress
---

<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body>
    {% include sidebar.html lang=lang %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column px-xxl-5">
        {% include topbar.html lang=lang %}
        <div class="post-meta text-muted">
          <a href="https://github.com/naveen-u/resume/releases/latest/download/CV.pdf">
            <i class="fa fa-download"></i> Download CV.pdf
          </a>
        </div>
        <iframe src="https://docs.google.com/gview?url=https://github.com/naveen-u/resume/releases/latest/download/CV.pdf&embedded=true" width="100%" height="100%" frameborder="0"></iframe>
      </div>
    </div>
  </body>

  {% if site.pwa.enabled %}
    {% include_cached notification.html lang=lang %}
  {% endif %}

  <!-- JavaScripts -->

  {% include js-selector.html %}

  {% if page.mermaid %}
    {% include mermaid.html %}
  {% endif %}

  {% include_cached search-loader.html %}
</html>
